 
grant {
	permission java.security.AllPermission;
};
  
grant codeBase "file:/home/asao/Documents/Universite/Semestre9/Middlewares/7Families/7Families-client/7Familles-Client/bin" {
    permission java.security.AllPermission;
};